* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.homejitarsa {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.ImgBg {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.ImgAbout {
    width: 100%;
    height: auto;
}