* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.homejitarsa {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.ImgBg {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.ImgAbout {
    width: 100%;
    height: auto;
}

.navbarJ {
    height: 6vh;
    background: #323232;
}

.navbarJ-items {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbarJ-links {
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.navbarJ-links:hover {
    text-decoration: underline;
}

.main {
    display: block;
}
