.contact-form {
  margin-top: 50px;
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #323232;
  font-weight: bold;
}
.contact-form h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.item-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
input {
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 8px;
  margin-top: 20px;
}
label {
  margin-top: 20px;
  color: #323232;
  font-weight: bold;
  font-size: 25px;
}
button:hover {
  background-color: #323232;
  color: white;
}
#username, #iusername {
  color:#282741;
}
#Email, #iEmail{
  color:#2980b9;
}
#Line, #iLine {
  color:#ffbe53;
}
#Github, #iGithub {
  color:#ff6138;
}

@media screen and (max-width: 768px) {
  .contact-form {
    margin-top: 50px;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-form h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  #username {
    color:#282741;
  }
  #Email {
    color:#2980b9;
  }
  #Line {
    color:#ffbe53;
  }
  #Github {
    color:#ff6138;
  }
}
