* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    background: #d0d2cd;
    height: 100vh;
    overflow-y: scroll;
}
.nav {
    position: relative;
    width: 100%;
    height: 222px;
    background: #00bfa5;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.header {
    position: absolute;
    top: 30px;
    left: 60px;
    color: white;
    width: auto;
    font-size: 14px;
    font-weight: bold;
    height: 100px;
}

.paper {
    position: absolute;
    top: 130px;
    z-index: 1;
    width: 850px;
    height: fit-content;
    background: white;
    box-shadow: 2px 2px 2px 2px darkgrey;
    border-radius: 5px;
}

.top-left p{
    font-size: 24px;

}

.top-left ol{
    font-size: 16px;
    line-height: 50px;
    margin-bottom: 25px;
}

.link {
    font-size: 14px;
    color: #5fb9b0;
}

.top {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.top-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.top-left {

}

.qrcode {
    position: relative;
    background: gray;
    width: 250px;
    height: 250px;
    opacity: 20%;
}

.redais {
    position: absolute;
    top: 100px;
    left: 65%;
    width: 150px;
    height: 150px;
    background: #5fb9b0;
    border-radius: 100%;
    text-align: center;

}

.body {
    background:#f9f9f9 ;
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: center;
    padding: 75px;
}

.video {
    width: 500px;
    height: 300px;
    background: #dfecea;
}