* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
}
.post textarea{
    max-width: 800px;
    resize: none;
}
.post input{
    max-width: 800px;
    height: auto;
}
.showContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
}

.showContent button{
    max-width: 800px;
    height: 50px;
}