.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h-box {
  padding: 100px;
  margin-top: 44px;
  width: 100vw;
  height: 100vh;
}

.header {
  text-indent: 5rem;
}
.title {
  text-indent: 10rem;
}


@media screen and (max-width: 768px) {

}