.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.h-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color:#2980b9;
}

.hello {
  font-size: 90px;
  color: #ffbe53;
  transition: transform 1s ease-out;
}

.hello:hover {
  transition: transform 1s ease-in;
  transform: scale(1.5, 1.5);
}

.header {
  text-indent: 5rem;
}
.title {
  text-indent: 10rem;
}

#username, #iusername {
  color:#282741;
}
#Email, #iEmail{
  color:#2980b9;
}
#Line, #iLine {
  color:#ffbe53;
}
#Github, #iGithub {
  color:#ff6138;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.about {
  
}

@media screen and (max-width: 768px) {
  .hello {
    font-size: 50px;
    color: #ffbe53;
    transition: transform 0.5s ease-out;
  }
  
  .hello:hover {
    transition: transform 0.5s ease-in;
    transform: scale(1.25, 1.25);
  }
}